html, body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  background-color: white;
  height: 100vh;
}

.header {
  background-color: green;
  display: flex;
  color: #FFD700;
  font-size: 20pt;
  align-items: center;
  justify-content: center;
  border-bottom-width: 10;
  border-bottom-color: '#00ee00';
  height: 20%
}

.body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 62%;
  overflow-y: auto;
}

.body, h1 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.start {
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: red;
  border-top-width: 10;
  border-top-color: #ff6666;
  height: 18%;    
  padding: 20px;
}

label {
    color: #777;
    font-size: 36pt;
    padding-right: 26px;
    font-weight: 500
}

.unit {
  padding-left: 2px;
}

.input-div, .results-table {
  width: 100%;
  margin-top: 5%;
  margin-left: 5%;
}

input {
  font-size: 36pt;
  width: 6rem;
}

#dough-input, #flour-input {
  width: 9rem;
}

.first-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.start {
  display: flex;
  align-items: center;
  justify-items: center;
}

.button {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: grey;
  border-radius: 20px;
  margin: 30px;
  font-size: 26px;
  font-weight: 500;
  color: #FFD700;
  transition: transform 0.2s;
}

.button:hover {
  background-color: rgb(165, 165, 165);
  border-color: #FFD700;
  transform: translate(2px,2px);
  box-shadow: 5px 5px 5px 5px #555; ;
}

.results-table {
  width: 100%;
  font-size: 32pt;
  color: 'grey';
}

.row {
  width: 100%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.col1 {
  width: 20%;
  display: inline-block;
  padding: 0;
  }

.col2 {
  width: 20%;
  font-weight: 500;
  font-size: 28pt;
  padding: 0;
  display: inline-block;
  }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }

@media only screen and (max-width: 700px) {

  .label {
    display: block;
  }
   input {
    margin-top: 3%;
   }

   .button:hover {
    background-color: grey;
    border-color: grey;
    transform: none;
    box-shadow: none ;
  }

  .row {
    margin-left: 5%;
  }

  .col1 {
    width: 40%;
  }

}